*
  box-sizing: border-box

html
body
.app
  width: 100%

body
  margin: 0

.app
  padding-top: 250px
  padding-bottom: 150px
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &__inner
    display: flex
    justify-content: center
    align-items: center
    width: 60%
    min-width: 800px
    height: 100%
    margin: 0 auto
    padding: 0 25px
