.floor-buttons
  position: absolute
  top: 20%
  left: calc(100% + 25px)

  &__up
  &__down
    width: 0
    height: 0
    border-left: 17px solid transparent
    border-right: 17px solid transparent
    transition: opacity .3s ease, transform 0.1s ease

    &:hover
      cursor: pointer
      opacity: 0.8

    &:active
      transform: scale(1.2)

  &__up
    border-bottom: 17px solid orange

  &__down
    margin-top: 10px
    border-top: 17px solid orange