.floor-buttons
  position: absolute
  top: 20%
  left: calc(100% + 25px)

  &__up
  &__down
    width: 0
    height: 0
    border-left: 10px solid transparent
    border-right: 10px solid transparent

  &__up
    border-bottom: 10px solid orange

  &__down
    margin-top: 5px
    border-top: 10px solid orange